@{
    ViewData["Title"] = "Добавить улицу";
}

<h2>Добавить новую улицу</h2>





<script>
    function ShowCreate()
    {
        var checkbox = document.getElementById('isCreated');
        if(checkbox.checked == false)
        {
            document.getElementById('AddingStreet').style ="display:block";
            document.getElementById('StreetDropList').style ="display:none";
        }
        else
        {
            document.getElementById('AddingStreet').style = "display:none";
            document.getElementById('StreetDropList').style = "display:block";
        }
    }
</script>






<form id="AddingArea" action="AddArea" method="post">
    <label>Добавить только участок</label>
    <input name="isCreated" id="isCreated" type="checkbox" onclick="ShowCreate()">
    <br />

    <select id="StreetDropList" asp-items="ViewBag.Street" style="display:none"></select> @*DropList from db*@

    <br />
    <ng-form id="AddingStreet" action="AddStreet" style="display:block" method="post">
        <label>Название улицы</label>
        <br />
        <input type="text" name="name" />
        <br />

        <label>Количество домов</label>
        <br />
        <input type="number" name="numberOfHouses" />
        <p></p>

        <label>Тип домов</label>
        <br />
        <select id="TypeOfHouses" name="typeOfHouses">
            <option value="null">Выберите тип домов</option>
            <option>Хрущевки</option>
            <option>Сталинки</option>
            <option>Высотки</option>
            <option>Частный сектор</option>
        </select>
        <br />

    </ng-form>
    <br />
    <h2>Информация о стоянке</h2>

    <label>Стоимость аренды одного парковочного места</label>
    <br />
    <input type="number" name="placesAmount" />
    <br />
    <label>Стоимость аренды стоянки</label>
    <br />
    <input type="number" name="rentPrice" />
    <br />
    <label>Количество парковочных мест</label>
    <br />
    <input type="number" name="parkingPlaces" />
    <p></p>


    <button name="saveAndReturn" asp-controller="AddStreetButton" asp-action="AddStreet">Сохранить</button>
    <button name="Return" asp-controller="Home" asp-action="Index">Отменить</button>
</form>
<p></p>
