@model IEnumerable<DiplomProject.ViewModels.StreetsViewModel>

@{
    ViewData["Title"] = "Home Page";
}

@foreach (var street in Model) {
    <h1>Street name: @street.name</h1>
    <p>Number of houses on current street: @street.numbersOfHouses</p>
    <p>Primary types of houses: @street.typesOfHouses</p>
    <p>Parking places: @street.areas</p>
    }
