@{
    ViewData["Title"] = "Удаление улицы";
}
<h1>@ViewData["Title"]</h1>


<form>
<select id="SelectedStreet" name="SelectedStreet" asp-items="ViewBag.Street"></select> @*DropList from db*@
    <button id="RemoveStreet" name="RemoveStreet" asp-controller="Home" asp-action="RemoveStreet">Сохранить</button>
</form>